---
BasedOnStyle: 'Google'
BreakBeforeBraces: 'Attach'
IndentWidth: 4
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
AlwaysBreakBeforeMultilineStrings: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakBeforeMultilineStrings: false